---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Under from '../components/Under.astro';
import Company from '../components/Company.astro';
import Banner from '../components/Banner.astro';
import Tequilas from '../components/Tequilas.astro';
import Find from '../components/Find.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Destiladora Agave Azul" lang="en">
  <main>
    <Hero />
    <Under lang="en" />
    <Company lang="en" />
    <Banner />
    <Tequilas lang="en" />
    <Find lang="en" />
    <Contact lang="en" />
    <Footer />
  </main>
</Layout>
