---
interface Props {
  lang: string;
}
const { lang } = Astro.props;

import { find } from '../translate/find';
import Maps from './Maps.astro';
const text = lang === 'es' ? find.es : find.en;
---

<section class="pt-12 pb-14 md:pt-site-pt md:pb-site-pb bg-red-500">
  <h2
    class="text-center text-2xl md:text-[3.64vw] mb-2 text-[#969696] tracking-[7px] leading-[1em]"
    id="where-to-buy"
  >
    {text.title}
  </h2>
  <h3
    class="text-center text-xl md:text-[2.1vw] md:mb-[5.20vw] mt-[5px] leading-[1em] text-[#414042] mb-12 text-light"
  >
    {text.subTitle}
  </h3>
  <div class="bg-red-500">
    <Maps />
  </div>
</section>
