<footer
  class="main-footer mt-[100px] lg:mt-[14.375vw] pl-6 pr-6 md:pl-[9.6875vw] md:pr-[3.85416vw] flex justify-between items-center pb-9 md:pb-[3.85vw]"
>
  <p class="">DESTILADORA DE AGAVE AZUL, S.A DE C.V.</p>
  <ul class="social">
    <li>
      <a href="https://www.instagram.com/destiladoraagaveazul/" target="_blank">
        <img src="/img/instagram1.svg" alt="instagram" />
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/destiladoraagaveazul" target="_blank">
        <img src="/img/facebook.svg" alt="facebook" />
      </a>
    </li>
  </ul>
</footer>
