<footer class="main-footer">
  <p>DESTILADORA DE AGAVE AZUL, S.A DE C.V.</p>
  <ul class="social">
    <li>
      <a href="#">
        <img src="/img/instagram1.svg" alt="instagram" />
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/img/facebook.svg" alt="facebook" />
      </a>
    </li>
  </ul>
</footer>
