---
import Image from './Image.astro';
---

<div class="Hero bg-bg relative">
  <div class="w-container mx-auto relative z-10">
    <Image name="campo" ext="jpg" />
  </div>
  <div
    class="layer bg-white h-[50px] md:h-[5.20vw] w-full absolute bottom-0 left-0 z-0"
  >
  </div>
</div>
