<div
  class="w-[85%] lg:w-[69.79166666666667vw] mx-auto py-8 md:py-[7.291666666666667vw]"
>
  <div id="storepoint-container" data-map-id="1614231f12fddd"></div>
</div>

<script>
  (function () {
    var a = document.createElement('script');
    a.type = 'text/javascript';
    a.async = !0;
    a.src = 'https://cdn.storepoint.co/api/v1/js/1614231f12fddd.js';
    var b = document.getElementsByTagName('script')[0];
    //@ts-ignore
    b.parentNode.insertBefore(a, b);
  })();
</script>
