<article class="buy px-4 md:px-[10vw]" id={'where-to-buy'}>
  <div id="storepoint-container" data-map-id="1614231f12fddd"></div>
</article>
<script>
  (function () {
    var a = document.createElement('script');
    a.type = 'text/javascript';
    a.async = !0;
    a.src = 'https://cdn.storepoint.co/api/v1/js/1614231f12fddd.js';
    var b = document.getElementsByTagName('script')[0];
    //@ts-ignore
    b.parentNode.insertBefore(a, b);
  })();
</script>
