@tailwind base;
@tailwind components;
@tailwind utilities;

// @import "fonts/stylesheet.css";
@import './trueno/style.css';
// @import './Kohinoor/style.css';
@import 'Kohinoor/stylesheet.css';
@import 'hamburgers/dist/hamburgers.min.css';

:root {
  scroll-behavior: smooth;
  --header-height: 100px;

  --header-color: #f6ecdf;
  @media (min-width: 1024px) {
    --header-height: 10vw;
  }
}
html,
body,
#app {
  min-width: 100vw !important;
  width: 100vw !important;
  max-width: 100vw !important;
}
#logo {
  cursor: pointer;
}
.Header.white {
  --header-color: #fff;
}
#our-tequilas:target {
  scroll-margin-top: calc(var(--header-height) + 4em);
  @media (width<1024px) {
    scroll-margin-top: calc(var(--header-height) + 2em);
  }
}
#contact:target {
  scroll-margin-top: calc(var(--header-height) - 6em);
}
@media screen and (width<1024px) {
  #contact:target,
  #where-to-buy:target {
    scroll-margin-top: calc(var(--header-height) + 0em);
  }
}
// section:target,
// h2:target {
// }
@layer base {
  body {
    @apply w-screen max-w-[calc(100vw-var(--scrollbarWidth))] overflow-y-auto overflow-x-hidden font-trueno;
  }
}
@layer components {
  .Hero {
    background-image: linear-gradient(
      #f6ecdf 88.4861407249467%,
      #fff 88.4861407249467%
    );
    &__container {
      @apply lg:h-[49vw];
      img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }
    }
  }
  .hamburger {
    @apply scale-75 translate-y-1 md:scale-100;
    &:hover,
    &.is-active {
      @apply opacity-100;
    }

    &-inner,
    &-inner::after,
    &-inner::before {
      @apply bg-header-text;
    }

    &.is-active {
      .hamburger-inner,
      .hamburger-inner::after,
      .hamburger-inner::before {
        @apply bg-header-text;
      }
    }
  }
  .main-menu {
    @apply bg-[var(--header-color)] text-header-text w-full absolute top-[100px] md:top-[140px] left-0 max-h-0 overflow-hidden transition-[max-height] duration-200 lg:static lg:flex lg:max-h-none;
    a {
      @apply leading-12 px-6 block;
      letter-spacing: 3px;
    }
    &.is-active {
      @apply max-h-[calc(4*3rem)];
    }
  }
  .Under {
    .grid-container {
      @apply grid-cols-[1fr_28.125vw] gap-x-[5.2vw] md:h-[32.81vw] items-center;
      .img {
        @apply md:h-[inherit] md:w-full;
        img,
        picture {
          @apply block md:w-full md:h-full object-cover object-right-bottom;
        }
      }
      p {
        @apply md:text-[1.356vw];
      }
      p.es {
        @apply md:text-[1.2vw];
      }
    }
  }
  .company {
    br {
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
  .Banner {
    @apply w-container-2 mx-auto pt-[4em] pb-[5em] md:pt-[6.25vw] md:pb-[15.625vw] md:grid grid-cols-3 gap-x-[2.083vw];
    img,
    picture {
      @apply w-full block mb-8 md:mb-0;
      & div:last-of-type,
      & div:last-child {
        @apply mb-0;
      }
    }
  }

  .Tequilas {
    @apply lg:h-[59.79166666666667vw] lg:max-h-[59.79166666666667vw] pb-9 md:pb-0;
    background-image: linear-gradient(#fff 40%, #efefef 40%);
    @media (min-width: 768px) {
      background-image: linear-gradient(#fff 45%, #efefef 45%);
    }

    &__grid {
      @apply md:grid grid-cols-3 items-end;
      img {
        @apply block mx-auto h-[200px] md:h-[25vw] w-auto;
      }
      .item {
        @apply mb-8 md:mb-0;
      }
      .item-1 img {
        @apply block h-[150px] md:h-[20.57vw];
      }
    }
  }
  .footer-tequila {
    @apply h-[30px]  mt-[100px] px-4 flex justify-between md:h-[3.90vw] md:px-[6.25vw] md:mt-[10.41666666666667vw] md:mb-[2.8645vw];
    .icon-container {
      @apply flex items-center;
    }
    .icon-cert {
      @apply block w-auto h-[100%];
    }
    .k {
      @apply h-[85%] ml-2 md:ml-[1.822916666666667vw];
    }
    .ara {
      @apply h-[50%] ml-5 md:ml-[3.90vw];
    }
    .num,
    .crt {
      @apply h-[60%] ml-2 md:ml-[1.822916666666667vw];
    }
  }
  .buttons-container {
    @apply h-[40px] mt-8 md:mt-[1.71875vw] md:h-[3.05916666666667vw] w-[180px] md:w-[13.1vw] flex justify-between items-center mx-auto;
    .btn-ts,
    .btn-icon,
    a {
      height: 100% !important;
      width: auto !important;
      max-width: none !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      transition: background 0.3s;
    }
    .btn-icon a:last-of-type,
    a:last-child {
      height: 60% !important;
    }
    a:first-child,
    a:first-of-type {
      &:hover {
        background-color: rgba(#000, 0.05);
      }
    }
  }
  .input-group {
    @apply mb-4 lg:mb-0;
    label,
    input,
    textarea {
      @apply w-full block text-[#5F6D76] font-light;
    }
    input,
    textarea {
      @apply border border-[#5F6D76];
    }
    input {
      @apply leading-8 px-4 lg:leading-[3.020vw];
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
    textarea {
      @apply h-[100px] lg:h-[6.5vw]  2xl:h-[10.020vw] resize-none px-4 py-4;
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }
  .Adresses {
    h3,
    p {
      @apply text-sm md:text-[0.9375vw];
    }
  }
  ul.social {
    @apply flex gap-x-4;
    ul,
    a {
      @apply block w-6 lg:w-[1.822vw];
    }
  }
  .modal-loading {
    @apply fixed top-0 left-0 w-screen h-screen bg-[rgba(255,255,255,.3)] flex items-center justify-center;
    img {
      @apply block w-32 h-auto;
    }
  }
}
.ui-switch {
  /* switch */
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 25px;
  --circle-bg: #025ea9;
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch-container {
  scale: 0.75;
}

.ui-switch input {
  display: none;
}

.ui-switch span {
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  // background-image: url('/us.svg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.slider .circle::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.ui-switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter));
  // background-image: url('/es.svg');
}

.ui-switch input:active + .slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}
.Header,
.Header * {
  transition: all 0.8s;
}

.item-flag {
  display: flex !important;
  align-items: center;
  column-gap: 0.5em;
  img {
    margin-top: 0 !important;
  }
}
#storepoint-container {
  background: transparent;
  // min-height: 1792px;
  @media screen and (min-width: 1024px) {
    min-height: 28.75vw;
  }
}
body,
html,
body * {
  max-width: 100vw;
}
html,
body,
body > * {
  max-width: 100vw;
}
