---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Under from '../../components/Under.astro';
import Company from '../../components/Company.astro';
import Banner from '../../components/Banner.astro';
import Tequilas from '../../components/Tequilas.astro';
import Find from '../../components/Find.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
import Retailers from '../../components/Retailers.astro';
---

<Layout title="Destiladora Agave Azul" lang="es">
  <main>
    <Hero />
    <Under lang={'es'} />
    <Company lang="es" />
    <Banner />
    <Tequilas lang="es" />
    <Retailers lang="es" />
    <Contact lang="es" />
    <Footer />
  </main>
</Layout>
